<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
      body {
        padding: 10px;
        font-size: 12px!important;
      }
      h4 {
        text-align: center;
      }
      .card-body {
        padding: 5px!important;
      }
      .card-header, .list-group-item {
        padding: 5px!important;
      }
    </style>
    <title>欢迎参与本次路测!</title>
  </head>
  <body>
    <p style="text-align: center;">欢迎参与本次路测!</p>
    <div class="accordion" id="accordionExample">
      <div class="card">
        <div class="card-header" id="headingOne">
          <div data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            基本信息
          </div>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">路测标题: xxx</li>
              <li class="list-group-item">路测城市: xxx</li>
              <li class="list-group-item">路测时间: xxx</li>
              <li class="list-group-item">
                <div class="title">路测目标:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingTwo">
          <div data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            航班&酒店&租车安排
          </div>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="title">航班信息:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="title">酒店信息:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="title">租车信息:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="title">车辆安排:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
              <li class="list-group-item">
                <div class="title">注意事项:</div>
                <div class="card">
                  <div class="card-body">
                    xxx
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingThree">
          <div data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            路测人员
          </div>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body table-responsive">
            <table class="table table-bordered table-sm">
              <thead>
                <tr>
                  <th scope="col">序号</th>
                  <th scope="col">姓名</th>
                  <th scope="col">组别</th>
                  <th scope="col">联系电话</th>
                  <th scope="col">测试手机号</th>
                  <th scope="col">是否首次路测</th>
                  <th scope="col">路测计划</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>asjdhaijshdaijshdpiajhsdijahsdjasodjhas</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="headingFour">
          <div data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            审批及报销
          </div>
        </div>
        <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionExample">
          <div class="card-body">
            <p>(1) 出差之前要在小桔闪报进行国内差旅申请</p>
            <p>&nbsp;&nbsp;•项目名称：网约车导航路</p>
            <p>&nbsp;&nbsp;• 项目编号：PJ202006040071（如果搜不到”网约车导航路测“，找胡萌老师给加一下权限）</p>
            <p>(2) 费用报销（自行报销）</p>
            <p>&nbsp;&nbsp;• 租车费用报销类型：市场调研； 无此权限需先发邮件给小桔闪报开通</p>
            <p>&nbsp;&nbsp;• 酒店住宿，直接用滴滴出行企业版，公司付款个人无需垫付</p>
            <p>&nbsp;&nbsp;• 租车加油、停车过路、自行打车，通过小桔闪报报销，项目选择市场调研</p>
            <p>&nbsp;&nbsp;• 违章代缴，联系租车门店私下处理，费用以加油票替代（保留油票）</p>
            <p>&nbsp;&nbsp;• 餐饮补助，餐饮100:heavy_multiplication_x:天数（无需发票）</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>